In [2]:
import mysql.connector as conn
import random
import string
import time
import json
from datetime import datetime
import pandas as pd
from sqlalchemy import create_engine

In [3]:
mydb = conn.Connect(host = "localhost", port="3306", user = "root", passwd = "root")

In [4]:
cursor = mydb.cursor()

In [5]:
#cursor.execute("drop database project")
cursor.execute("show databases")
cursor.fetchall()

[('information_schema',), ('mysql',), ('performance_schema',), ('sqltable',)]

In [6]:
cursor.execute("use sqltable")

In [7]:
cursor.execute("drop table studentinfo")

In [8]:
cursor.execute("create table if not exists studentinfo(name varchar(50), age int(5), email varchar(50), created_at datetime)")

In [9]:
# cursor.execute("show tables")
# cursor.fetchall()

In [13]:
while True:
    ra_name = ''.join(random.choices(string.ascii_lowercase,k=6))
    ra_age = random.randint(20,80)
    ra_email = f"{ra_name.lower()}@gmail.com"
    ra_created_at = datetime.now()
    
    query = "INSERT INTO studentinfo(name,age,email,created_at) VALUES(%s, %s, %s, %s)"
    
    values = (ra_name,ra_age,ra_email,ra_created_at)
    
    cursor.execute(query,values)
    
    mydb.commit()
    
    print("values inserted")
    
    time.sleep(1)
    
    #cursor.close()
    
    #mydb.close()

values inserted
values inserted
values inserted
values inserted

KeyboardInterrupt:

In [ ]:
# cursor.execute('select * from studentinfo')
# #cursor.fetchall()
# df = cursor.fetchall()
# print(df)

[('chuxcs', 28, 'bfwrb@gmail.com', datetime.datetime(2023, 6, 23, 14, 39, 29)), ('bplrul', 79, 'bfwrb@gmail.com', datetime.datetime(2023, 6, 23, 14, 39, 30)), ('ycmmwl', 51, 'bfwrb@gmail.com', datetime.datetime(2023, 6, 23, 14, 39, 31)), ('eusjbj', 32, 'bfwrb@gmail.com', datetime.datetime(2023, 6, 23, 14, 39, 32)), ('qpxnyt', 26, 'bfwrb@gmail.com', datetime.datetime(2023, 6, 23, 14, 39, 33)), ('vslqek', 78, 'bfwrb@gmail.com', datetime.datetime(2023, 6, 23, 14, 39, 34)), ('nxkaor', 41, 'bfwrb@gmail.com', datetime.datetime(2023, 6, 23, 14, 39, 35))]

In [ ]:
columns=['name', 'age', 'email', 'created_at']